#cloud-config
autoinstall:
  version: 1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  identity:
    hostname: {{machine_name}}
    username: {{machine_user}}
    password: {{machine_password_hash}}
  ssh:
    allow-pw: true
    install-server: true
    authorized-keys:
      - {{ ssh_key.stdout }}
  network:
    network:
      version: 2
      renderer: networkd
      ethernets:
        ens18:
          dhcp4: false
          addresses:
            - {{ machine_ip }}
          gateway4: 192.168.1.1
          nameservers:
            addresses:
              - 192.168.1.1
  storage:
    config:
      - grub_device: true
        id: disk-sda
        path: /dev/sda
        ptable: gpt
        type: disk
        wipe: superblock-recursive
      - device: disk-sda
        flag: bios_grub
        id: partition-0
        number: 1
        size: 1048576
        type: partition
      - device: disk-sda
        id: partition-1
        number: 2
        size: -1
        type: partition
        wipe: superblock
      - fstype: ext4
        id: format-0
        type: format
        volume: partition-1
      - device: format-0
        id: mount-0
        path: /
        type: mount

  user-data:
    disable_root: false
    users:
      - name: {{machine_user}}
        gecos: {{machine_user}}
        lock_passwd: false
        hashed_passwd: {{machine_password_hash}}
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh-authorized-keys:
          - {{ ssh_key.stdout }}
        groups: sudo

  late-commands:
    - |
      echo '{{machine_user}} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/sysuser
      echo "Enabling root SSH login..."
      sed -i 's/^PermitRootLogin.*/PermitRootLogin yes/g' /target/etc/ssh/sshd_config
      systemctl restart ssh


