#cloud-config

autoinstall:
  version: 1
  # interactive-sections:
  #   - network
  #   - storage
  # network:
  #   version: 1
  #   config:
  #     - type: physical
  #       name: interface0
  #       subnets:
  #         - type: static
  #           address: 192.168.1.210
  #           netmask: 255.255.255.0
  #           gateway: 192.168.1.1
  network:
    version: 2
    ethernets:
      enp6s0:
        dhcp4: true
  #       addresses:
  #         - 192.168.1.210/255.255.255.0
  #       gateway4: 192.168.1.1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  identity:
    hostname: "cloudtest"
    username: "joseph"
    password: "daef4953b9783365cad6615223720506cc46c5167cd16ab500fa597aa08ff964eb24fb19687f34d7665f778fcb6c5358fc0a5b81e1662cf90f73a2671c53f991"
    realname: "Joseph"
  ssh:
    allow-pw: true
    # install-server: false
    authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFPsnf+jir942UpHZFPaQ8C7Gfoo0jmLtdA7wbgnpkw9 craig@MBP.lan
  # user-data:
  #   disable_root: false
  package_upgrade: true
  refresh-installer:
    update: yes
  # packages:
  #   - qemu-guest-agent
  storage:
    layout:
      name: lvm
  reporting:
    hook:
      type: webhook
      endpoint: "http://192.168.1.100:8080/?response_body_only=true"
