#cloud-config

autoinstall:
  version: 1
  network:
    version: 1
    config:
      - type: physical
        name: interface0
        subnets:
          - type: static
            address: 192.168.1.210
            netmask: 255.255.255.0
            gateway: 192.168.1.1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  identity:
    hostname: "ubuntu-server"
    username: "ubuntu"
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
  ssh:
    allow-pw: false
    install-server: true
    authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFPsnf+jir942UpHZFPaQ8C7Gfoo0jmLtdA7wbgnpkw9 craig@MBP.lan
  storage:
    layout:
      name: lvm
  reporting:
    hook:
      type: webhook
      endpoint: "http://192.168.1.100:8080/?response_body_only=true"