#cloud-config
autoinstall:
  version: 1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  identity:
    hostname: "ubuntu-server"
    username: "ubuntu"
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
  ssh:
    allow-pw: false
    install-server: true
    authorized_keys:
      - {{ ssh_key.stdout }}
  storage:
    layout:
      name: lvm
  users:
  - name: ubuntu
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - {{ ssh_key.stdout }}
  network:
    network:
      version: 2
      renderer: networkd
      ethernets:
        ens18:
          dhcp4: false
          addresses:
            - {{ machine_ip }}
          gateway4: 192.168.1.1
          nameservers:
            addresses:
              - 192.168.1.1
  storage:
    config:
      - grub_device: true
        id: disk-sda
        path: /dev/sda
        ptable: gpt
        type: disk
        wipe: superblock-recursive
      - device: disk-sda
        flag: bios_grub
        id: partition-0
        number: 1
        size: 1048576
        type: partition
      - device: disk-sda
        id: partition-1
        number: 2
        size: -1
        type: partition
        wipe: superblock
      - fstype: ext4
        id: format-0
        type: format
        volume: partition-1
      - device: format-0
        id: mount-0
        path: /
        type: mount
