/* Screen {
    
    layout: grid;
    grid-size: 3 2;
    grid-columns: 1fr;
    grid-gutter: 1 1;
    height: auto;
} */

#complete {
    layout: horizontal;
    column-span: 3;


}

ListView {
    align: center middle;
    width: 100%;
    height: auto;
    margin: 1 1;

}


Input {
    width: 70%;
    height: 100%;
    margin: 1 1;
}

.horizontal-group {
    layout: horizontal;
    align: center middle;
    margin: 1 1;
    padding: 1 1;
    width: 100%;
}

.box {
    height: 100%;
    border: solid rgb(143,38,217);
    align:center middle;
}

.subsection-grid {
    layout: grid;
    grid-size: 1 2;
    grid-columns: 1fr;
    grid-rows: 1fr;
}


.no-padding {
    padding: 0;
    height: auto;
}

.selected {
    background: rgb(143,38,217);
}


/* Create a class called bkg that converts the background to white */
/* .bkg {
    background:white;
} */

Placeholder {
    height: 100%;
}

Label {
    align: center middle;
}

Checkbox {
    height: auto;
    width: auto;
}

#custom-design {
    background: darkslategrey;
}

#custom-design > .checkbox--switch {
    color: dodgerblue;
    background: darkslateblue;
}